{% set active_page = "login" %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ static_autoversion('css/main.css') }}" rel="stylesheet">
		<title>Nutcracker</title>
		<style>
			html, body {
				min-height: 100%;
				height: 100%;
			}
			
			body {
				background: black url("{{ url_for('static', filename='images/fondo.jpg') }}") no-repeat center;
				background-size: cover;
			}
			
			.transparent-card {
				background-color: rgba(255, 255, 255, .9) !important;
			}
		</style>
	</head>
	<body>
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-sm-12 col-md-10 col-lg-7 mx-auto my-auto">
					<div class="card transparent-card shadow rounded">
						<div class="card-body" id="cardbody">
							{% with messages = get_flashed_messages() %}
								{% if messages %}
								<div class="alert alert-danger" id="errormessage">
									<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Something went wrong :(<br />
									{% for message in messages %}
										{{ message }}<br />
									{% endfor %}
								</div>
								{% endif %}
							{% endwith %}
							<h5 class="card-title text-center">Nutcracker - Log In</h5>
							<h6 class="card-subtitle text-center"><a href="english">English Tweets</a> / <a href="/">Spanish Tweets</a> / <a href="arabic">Arabic Tweets</a> / <a href="madrid">Telemadrid Tweets</a></h6>
							<h6 id="web_version"></h6>
							<form class="text-center" id="loginform">
								<div class="form-group text-left">
									<label for="username">Username</label>
									<input type="text" class="form-control form-control-lg mb-2" placeholder="Enter your username" id="username" name="username">
									<label for="password">Password</label>
									<input type="password" class="form-control form-control-lg mb-2" placeholder="Enter your password" id="password" name="password" autocomplete="on">
								</div>
								<p class="card-text text-secondary">If you do not have an account, click <a href="{{ url_for('main.signup') }}">here to sign up</a>.<br />If you have forgotten your password, you need to contact support in order to set a new one.</p>
								<p class="card-text text-secondary">This is the Nutcracker app from University of Granada. The use of this system is strictly restricted to members of the Nutcracker project and we may monitor your interactions and transmissions to ensure it. We may use cookies. Accessing the website without the proper authorisation is prohibited. You explicitly accept this disclaimer when logging in.</p>
								<button type="submit" class="btn btn-lg btn-primary" id="loginbutton">Log In</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="{{ static_autoversion('js/login.js') }}"></script>
		<script>
			$(function()
			{
				if (window.location.href.indexOf("english") > -1)
					$("#web_version").html("Current version: English tweets").css({"text-align": "center", "margin-top": "15px", "font-weight": "bold"});
				else if (window.location.href.indexOf("arabic") > -1)
					$("#web_version").html("Current version: Arabic tweets").css({"text-align": "center", "margin-top": "15px", "font-weight": "bold"});
				else if (window.location.href.indexOf("madrid") > -1)
					$("#web_version").html("Current version: Debate Telemadrid 2021").css({"text-align": "center", "margin-top": "15px", "font-weight": "bold"});
				else
					$("#web_version").html("Current version: Debate a 5 RTVE 2019").css({"text-align": "center", "margin-top": "15px", "font-weight": "bold"});
			});
		</script>
	</body>
</html>
