{% set navigation_bar = [
    (url_for('main.rank_tagging'), "ranktagging", "Annotate"),
    (url_for('main.tagging'), "tagging", "Review"),
    (url_for('main.review_ua'), "review_ua", "Auto-annotations"),
    (url_for('main.videotagging'), "video-tagging", "Video-Annotation"),
    (url_for('main.search'), "search", "Search"),
    (url_for('main.batchupload'), "createbatch", "Upload"),
    (url_for('main.myprofile'), "myprofile", "My Profile"),
    (url_for('main.stats'), "stats", "Stats"),
] -%}

<ul class="navbar-nav mr-auto">
    {% for href, id, caption in navigation_bar %}
    <li class="nav-item">
        <a class="nav-link{% if id == active_page %} active{% endif %}" href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
</ul>