<!DOCTYPE html>
<html class="h-100">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<title>Nutcracker Tagging</title>
	</head>
	<body class="h-100">
		<div class="container-fluid" style="min-height: 100%">
			<div class="row">
				<div class="col-xl-10 offset-xl-1 mt-4">
					<nav class="navbar navbar-dark navbar-expand-xl bg-dark justify-content-between">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a class="navbar-brand">
							<img src="{{ url_for('static', filename='images/logo.png') }}" width="30" height="30" id="logo" class="d-inline-block align-top" alt="">
							Nutcracker Tagging System
						</a>
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('main.rank_tagging') }}">Annotate</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('main.tagging') }}">Review</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('main.review_ua') }}">Auto-annotations</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('main.search') }}">Search</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('main.batchupload') }}">Upload</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="{{ url_for('main.myprofile') }}">My Profile</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="col-xl-10 offset-xl-1 mt-4">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						<div class="mt-4 alert alert-danger" id="errormessage">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Something went wrong :(<br />
							{% for message in messages %}
								{{ message }}<br />
							{% endfor %}
						</div>
						{% endif %}
					{% endwith %}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row mainrow">
						<!-- Main Column -->
						<div class="col">
							<div class="media p-3 border border-secondary rounded">
								<div class="media-body">
									<h4 class="card-title">Welcome back, <strong>{{ user.username }}</strong>!</h4>
									<h5 class="mt-0">Your details</h5>
									<span class="card-text"><strong>Name: </strong> {{ user.name }}</span><br />
									<span class="card-text"><strong>Email: </strong> {{ user.email }}</span><br />
									<span class="card-text"><strong>How many tweets are annotated by me?: </strong> {{ stats["total"] }}</span><br />
									<h5 class="mt-4">Your last 100 annotations</h5>
									<p>	
										{% for tweet in annotations %}
										<a href="/review/{{ tweet }}" alt="Review tweet {{ tweet }}">{{ tweet }}</a>&nbsp;
										{% endfor %}
									</p>
										
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row bg-dark text-light footer mt-4 p-4">
				<div class="col-md-3 offset-md-1 text-right d-flex align-items-center justify-content-center">
					<img src="{{ url_for('static', filename='images/ugrnegativo.png') }}" width="80%" class="d-inline-block align-top" alt="">
				</div>
				<div class="col-md-7 d-flex flex-column justify-content-center">
					<span class="text-light">This is the Nutcracker app from University of Granada. The use of this system is strictly restricted to members of the Nutcracker project and we may monitor your interactions and transmissions to ensure it. We may use cookies. Accessing the website without the proper authorisation is prohibited. You explicitly accepted this disclaimer when logging in.</span>
					<span class="text-light mt-1">This work has been financially supported by the Spanish Ministry of Economy and Competitiveness (MINECO), project FFI2016-79748-R, and cofinancied by the European Social Fund (ESF). The author was supported by the FPI 2017 predoctoral programme, from the Spanish Ministry of Economy and Competitiveness (MINECO), grant number BES-2017-081202.</span>
					<span class="text-light mt-2">If you encounter any problems when using this site, please, contact Manuel Francisco &lt;francisco@decsai.ugr.es&gt; for support.</span>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}"></script>
		<script src="{{ url_for('static', filename='js/myprofile.js')|autoversion }}"></script>
	</body>
</html>
