html, body
{
	background-color: #f8f9fa;
}

.keyboard-key
{
	min-width: 22px;
	border: 1px solid gray;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-size: .8rem;
}

#maintweet {
	background-color: #bee5eb;
	border: 1px solid rgba(0,0,0,.125);
}

.tweetcard {
	background-color: #bee5eb;
	border: 1px solid rgba(0,0,0,.125);
}

.media, #othertweets .list-group-item
{
	background-color: #f8f9fa;
}

.mainrow {
	overflow: auto;
	padding-bottom: 500px;
}

.footer {
	font-size: .8rem;
	position: relative;
	margin-top: -500px;
	height: 500px;
	clear: both;
	padding-top: 20px;
}

.clickable:hover
{
	background-color: rgba(0, 123, 255, .5);
}

.clickable.selected
{
	background-color: rgba(0, 123, 255, 1);
}

.clickable.selected:hover
{
	background-color: rgba(0, 123, 255, .5);
}

.clickable.aiselected
{
	background-color: rgba(40, 167, 69, 1);
}

.clickable.aiselected:hover
{
	background-color: rgba(255, 193, 7, .5);
}

.clickable.selected.aiselected
{
	background-color: rgba(255, 193, 7, 1);
}

.hanging-indent {
	text-indent: -28px;
	padding-left: 48px;
}

.profile-pic {
	color: white;
	font-size: 12px;
	width: 48px;
	height: 48px;
	background-image: url('../images/notfound.png');
}

@media (min-width: 576px) {
	html {
		font-size: 1.2rem;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 1rem;
	}
	
	#labelform select {
		font-size: .8rem;
	}
	
	.hanging-indent {
		font-size: .8rem;
	}
}

.small-text {
	font-size: .8rem;
}

.card-columns {
	column-count: 2;
}