#open-segments {
    max-height: 400px;
    overflow: auto;
}

#segments {
    max-height: 80vh;
    overflow: auto;
}

.segment {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: .8rem;
    color: #333;
}

.open-segment {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}

.segment-start::before
{
    content: "Start time ";
    color: gray;
}

.segment-function {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;
}